<div class="codehouse-product-images" style="opacity: 0"></div>
<div class="codehouse-content">
  <div class="holder">
    <h3 class="codehouse-product-title"></h3>
    <h4 class="codehouse-product-type"></h4>
    <h5 class="codehouse-product-price"></h5>
    <h5 class="codehouse-product-original-price"></h5>
    <hr />
    <div class="codehouse-add-to-cart">
      <div class="codehouse-product-options"></div>
      <div class="quantity">
        <span>Quantity</span>
        <input type="number" class="codehouse-quantity" value="1" min="1">
      </div>
      <button type="submit" class="codehouse-add-button Button Button--primary">Add to Cart</button>
      <div class="codehouse-add-to-cart-response"></div>
    </div>
    <div class="codehouse-product-description"></div>
  </div>
  <a class="view-product" href=""><span>View Full Product Details</span></a>
</div>
