
//Add this Quick view callback button in product grid
<div class="quick-view-button"><a class="quick-view Button Button--primary" data-handle="{{ product.handle }}" href="javascript:void(0);">Quick View</a></div>
